%h1 Listing magazines

%table
  %thead
    %tr
      %th Name
      %th Publisher
      %th
      %th
      %th

  %tbody
    - @magazines.each do |magazine|
      %tr
        %td= magazine.name
        %td= magazine.publisher_id
        %td= link_to 'Show', magazine
        %td= link_to 'Edit', edit_magazine_path(magazine)
        %td= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Magazine', new_magazine_path
