<h1>Home</h1>

<h2> React Component - using `react-rails` gem </h2>
<p>
	<%= react_component("MiniPost", { title: "Tamil Language.", published: true, publishedBy: "user1"}) %> 
</p>


<ul>
	<li> <%= link_to 'Info:', home_info_path %> </li>
	<li><%= link_to 'About Us', home_about_path %> </li>
	<li><%= link_to 'Careers', home_info_path %> </li>
	<li><%= link_to 'Validation', home_validation_path %> </li>
	<li><%= link_to 'Contact Us', home_contact_path %> </li>
</ul>
