<p id="notice"><%= notice %></p>

<h1>Stories</h1>


  <div class="jumbotron text-center bg-white">
    <h1>Blog Post Application using Ruby-On-Rails !!</h1>
    <p class="lead">Guide you step by step learning Ruby on Rails through building a Blog application.</p>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button" target="_blank">Learn more</a>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @paginatable_array.each do |story| %>
      <tr>
        <td><%= story[:title] %> </td>
        <td><%= story[:content] %> </td>
        <td><%= link_to "Show", story_path(id: @id, title: story[:title]), class: "btn btn-primary" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @paginatable_array, theme: 'bootstrap4' %>

Params Page:
<%= params[:page] %>

Pretty Print HTML:
= @pretty_html