%p#notice= notice
%p
  %strong Name:
  = @shark.name
%p
  %strong Facts:
  = @shark.facts
%h2 Posts
= render 'sharks/posts'
= link_to 'Edit', edit_shark_path(@shark), class: 'btn btn-primary'
|
= link_to 'Back', sharks_path, class: 'btn btn-primary'
%br
%div{"data-controller" => "posts"}
  %button{"data-action" => "posts#showAll" , class: 'btn btn-primary'} Show Older Posts
  %div{"data-target" => "posts.show", style: "visibility:hidden"}
    = render 'sharks/all'
