<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Sample App</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="dropdown">
            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to "Home", root_path, class: "dropdown-item" %></li>
              <li><%= link_to "About", about_path, class: "dropdown-item" %></li>
              <li><%= link_to "Contact", contact_path, class: "dropdown-item" %></li>
              <li><%= link_to "Validation", validation_path, class: "dropdown-item" %></li>
              <li><%= link_to "Help", help_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <% if logged_in? %>
                <li class="nav-item"><%= link_to "Users", users_path, class: "dropdown-item"  %></li>
                <li class="nav-item"><%= link_to "Profile", current_user , class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user) , class: "dropdown-item" %></li>
                <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete , class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Log in", login_path , class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </div>

          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <% if logged_in? %>
              Profile
              <% else %>
              LogIn
              <% end %>
            </button>
            <ul class="dropdown-menu">
              <% if logged_in? %>
                <li class="nav-item"><%= link_to "Users", users_path, class: "dropdown-item"  %></li>
                <li class="nav-item"><%= link_to "Profile", current_user , class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user) , class: "dropdown-item" %></li>
                <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete , class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Log in", login_path , class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </div>


          <div class="dropdown">
            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              React Components
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to "Clock", "/react/clock", class: "dropdown-item" %></li>
              <li><%= link_to "Items (API)", "/react", class: "dropdown-item" %></li>
              <li><%= link_to "Contact", contact_path, class: "dropdown-item" %></li>
              <li><%= link_to "Validation", validation_path, class: "dropdown-item" %></li>
              <li><%= link_to "Help", help_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <% if logged_in? %>
                <li class="nav-item"><%= link_to "Users", users_path, class: "dropdown-item"  %></li>
                <li class="nav-item"><%= link_to "Profile", current_user , class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li class="nav-item"><%= link_to "Settings", edit_user_path(current_user) , class: "dropdown-item" %></li>
                <li class="nav-item"><%= link_to "Log out", logout_path, method: :delete , class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "Log in", login_path , class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </div>


          </div>
        </div>
     </nav>
  </div>



</header>
