<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        </button> <%= link_to "SampleApp", root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
            
            <li class='nav-item'><%= link_to 'Sharks', sharks_path, class: 'nav-link' %></li>

                </li>
            </ul>
        </div>

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
          <%= link_to 'Info', home_info_path, class: 'btn btn-secondary' %>
          <%= link_to 'About Us', home_about_path, class: 'btn btn-warning' %>
          <%= link_to 'Careers', home_info_path, class: 'btn btn-primary' %>
          <%= link_to 'Contact Us', home_contact_path, class: 'btn btn-warning' %>
          <%= link_to 'Validation', home_validation_path, class: 'btn btn-secondary' %>

          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <%= link_to 'Home', root_path, class: 'dropdown-item' %>
              <%= link_to 'Info:', home_info_path, class: 'dropdown-item' %>
              <%= link_to 'About Us', home_about_path, class: 'dropdown-item' %>
              <%= link_to 'Careers', home_info_path, class: 'dropdown-item' %>
              <%= link_to 'Validation', home_validation_path, class: 'dropdown-item' %>
              <%= link_to 'Contact Us', home_contact_path, class: 'dropdown-item' %>

            </div>
          </div>
        </div>

    </div><!-- container div -->
</nav>

